<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Claims</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="bb">
    <div class="sidenav">
        <input type="hidden" name="company_id" id="company_id" value="<%= company_id %>">
        <a href="/portfolio">Companies</a>
        <a href="/portfolio?company=<%= company_id %>">Portfolio</a>
        <a href="/underwriting?company=<%= company_id %>">UW Data</a>
    </div>
    <div class="container">
        <h1><%= company_name %> Claims</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Policy ID</th>
                    <th>Amount</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <% claims.forEach(claim => { %>
                    <tr>
                        <td><%= claim.policy_id %></td>
                        <td><%= claim.claim_amount %></td>
                        <td><%= claim.claim_type %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>
